@import "mixins";

.core-rail-container{
    box-sizing: border-box;
    float: left;
    margin-right:-1px;
    width: 552;
    margin: 0 0 24px 25px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0,0,0,.75);
    font-size: 16px;
    .bordered;
}

// <h3 class="mn-pymk-list__header Sans-19px-black-70%-open">
//     People you may know
//   </h3>
  