@import "mixins";

.core-rail-container {
    box-sizing: border-box;
    float: left;
    margin-right:-1px;
    width: 552px;
    margin: 0 0 24px 25px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0,0,0,.75);
    font-size: 16px;
    padding: 0px;
    flex-flow: row wrap;
    .bordered(0px);
    .core-rail-header {
        .bordered(0px);
        width: 100%;
        text-align: center;
        padding: 8px 0;
        background: white;
    }
    img {
        width: 104px;
        height: 104px;
        border-radius: 50%;
        padding: 8px;
        background: 0%;
        &:hover {
            cursor: default;
            background: @WildSand - 10%;
        } 
    }
    .core-rail-bud {
        width: 33.29%;
        .bordered(0px);
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 8px 0;
        min-height: 216px;
        background: white;
        .core-rail-bud-username {
            font-size: 15px;
            font-weight: 600;
            background: 0%;
        }
        .core-rail-bud-job {
            font-size: 13px;
            font-weight: lighter;
            color: gray;
            background: 0%;
        }
        .core-rail-bud-connections {
            text-align: center;
            font-size: 13px;
            font-weight: lighter;
            color: gray;
            padding: 8px;
            background: 0%;
        }   
        .core-rail-bud-button {
            margin: 12px 0;
            border: solid 1.5px @Lochmara;
            border-radius: 2px;
            padding: 4px 12px;
            width: 50%;
            text-align: center;
            &:hover {
                cursor: default;
                background: @Lochmara + 75%;
            } // & hover
        } // .core-rail-bud-button
        background: white;
        &:hover {
            cursor: default;
            background: @WildSand - 10%; 

        } // .core-rail-bud    
    }
}


// <h3 class="mn-pymk-list__header Sans-19px-black-70%-open">
//     People you may know
//   </h3>
  