.core-rail-container {
  box-sizing: border-box;
  margin-right: -1px;
  width: 552px;
  margin: 0 0 24px 25px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  flex-flow: row wrap;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0px;
  justify-content: center;
  float: left;
}
.core-rail-container .core-rail-header {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0px;
  justify-content: center;
  float: left;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  background: white;
}
.core-rail-container img {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  padding: 8px;
  background: 0%;
}
.core-rail-container img:hover {
  cursor: default;
  background: #ebebeb;
}
.core-rail-container .core-rail-bud {
  width: 33.29%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0px;
  justify-content: center;
  float: left;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 8px 0;
  min-height: 216px;
  position: relative;
  background: white;
}
.core-rail-container .core-rail-bud .core-rail-bud-username {
  font-size: 15px;
  font-weight: 600;
  background: 0%;
}
.core-rail-container .core-rail-bud .delete-button {
  display: none;
}
.core-rail-container .core-rail-bud .core-rail-bud-job {
  font-size: 13px;
  font-weight: lighter;
  color: gray;
  background: 0%;
}
.core-rail-container .core-rail-bud .core-rail-bud-connections {
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
  color: gray;
  padding: 8px;
  background: 0%;
}
.core-rail-container .core-rail-bud .core-rail-bud-button {
  margin: 12px 0;
  border: solid 1.5px #0084bf;
  border-radius: 2px;
  padding: 4px 12px;
  width: 50%;
  text-align: center;
}
.core-rail-container .core-rail-bud .core-rail-bud-button:hover {
  cursor: default;
  background: #4bcfff;
}
.core-rail-container .core-rail-bud:hover {
  cursor: default;
  background: #ebebeb;
}
.core-rail-container .core-rail-bud:hover .delete-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  color: black;
  font-weight: 900;
  background: #ebebeb;
}
.core-rail-container .core-rail-bud:hover .delete-button:hover {
  cursor: pointer;
}
