.core-rail-container {
  box-sizing: border-box;
  margin-right: -1px;
  width: 552;
  margin: 0 0 24px 25px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 16px;
  justify-content: center;
  flex-flow: row wrap;
  float: left;
}
