/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: #f5f5f5;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.lrc {
  display: flex;
  box-sizing: border-box;
  width: 216px;
  height: 404px;
  margin: 0px auto;
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 16px;
  justify-content: center;
  float: left;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.lrc .lrc__top {
  background: white;
}
.lrc .lrc__your-connection-number {
  font-family: Sans;
  font-size: 34px;
  text-align: center;
  color: #0084bf;
  padding: 12px;
  background: white;
  margin-bottom: 12px;
}
.lrc .lrc__your-connections-text {
  font-family: Sans;
  font-size: 17px;
  text-align: center;
  color: black;
  font-weight: 600;
  background: white;
  margin-bottom: 12px;
}
.lrc .lrc__see-all-btn {
  font-family: Sans;
  font-size: 15px;
  text-align: center;
  color: #0084bf;
  font-weight: 600;
  background: white;
  margin-bottom: 80px;
}
.lrc .lrc__small-pics {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.lrc .lrc__small-pics .lrc__small-pic-1 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  bottom: 25px;
  border: solid 1px white;
}
.lrc .lrc__small-pics .lrc__small-pic-2 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 25px;
  border: solid 1px white;
}
.lrc .lrc__small-pics .lrc__small-pic-3 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  right: -25px;
  bottom: 25px;
  border: solid 1px white;
}
.lrc .lrc__small-pics .lrc__small-pic-4 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  bottom: 25px;
  border: solid 1px white;
}
.lrc .lrc__continue-btn {
  margin: 12px 0;
  border: solid 1.5px #0084bf;
  border-radius: 2px;
  padding: 8px 36px 8px 36px;
}
.lrc .lrc__continue-btn:hover {
  cursor: default;
  background: #4bcfff;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.App {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Lucida Grande, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, '.SFNSDisplay-Regular', Heiti SC, Microsoft Yahei;
  width: 100%;
  box-sizing: border-box;
  padding: 0 32px;
  display: block;
  margin: auto;
  position: relative;
  background: #f5f5f5;
}
.ad-banner-container {
  width: 1128px;
  height: 49px;
  box-sizing: border-box;
  padding: 16px 0;
  min-height: 17px;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  margin: 52px 0 0 0;
}
.ad-banner-container a {
  color: #0084bf;
}
.ad-banner-container .ad-banner-container_text {
  color: #434649;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 52px;
  width: 100%;
  margin-bottom: 52px;
  padding: 0 30px;
  font-size: 100%;
  vertical-align: baseline;
  background: #283E47;
  border-top: none;
  box-shadow: none;
}
.nav-bar img {
  margin: 8px 0;
  float: left;
}
.nav-bar input {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Lucida Grande, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, '.SFNSDisplay-Regular', Heiti SC, Microsoft Yahei;
  font-size: 14px;
  width: 280px;
  border: none;
  border-radius: 2px;
  background-color: #e1e9ee;
  padding: 0 8px 0 28px;
  line-height: 34px;
  color: #283e4a;
  font-weight: 400;
  margin: 8px 30px 8px 8px;
  float: left;
}
.core-rail-container {
  box-sizing: border-box;
  margin-right: -1px;
  width: 552px;
  margin: 0 0 24px 25px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  flex-flow: row wrap;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0px;
  justify-content: center;
  float: left;
}
.core-rail-container .core-rail-header {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0px;
  justify-content: center;
  float: left;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  background: white;
}
.core-rail-container img {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  padding: 8px;
  background: 0%;
}
.core-rail-container img:hover {
  cursor: default;
  background: #ebebeb;
}
.core-rail-container .core-rail-bud {
  width: 33.29%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0px;
  justify-content: center;
  float: left;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 8px 0;
  min-height: 216px;
  position: relative;
  background: white;
}
.core-rail-container .core-rail-bud .core-rail-bud-username {
  font-size: 15px;
  font-weight: 600;
  background: 0%;
}
.core-rail-container .core-rail-bud .delete-button {
  display: none;
}
.core-rail-container .core-rail-bud .core-rail-bud-job {
  font-size: 13px;
  font-weight: lighter;
  color: gray;
  background: 0%;
}
.core-rail-container .core-rail-bud .core-rail-bud-connections {
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
  color: gray;
  padding: 8px;
  background: 0%;
}
.core-rail-container .core-rail-bud .core-rail-bud-button {
  margin: 12px 0;
  border: solid 1.5px #0084bf;
  border-radius: 2px;
  padding: 4px 12px;
  width: 50%;
  text-align: center;
}
.core-rail-container .core-rail-bud .core-rail-bud-button:hover {
  cursor: default;
  background: #4bcfff;
}
.core-rail-container .core-rail-bud:hover {
  cursor: default;
  background: #ebebeb;
}
.core-rail-container .core-rail-bud:hover .delete-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  color: black;
  font-weight: 900;
  background: #ebebeb;
}
.core-rail-container .core-rail-bud:hover .delete-button:hover {
  cursor: pointer;
}
